@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url("../fonts/OpenSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

p {
  margin: 0;
}

img {
  border-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  z-index: 2;
}

._hidden{
    display: none;
}

.pop-up-content {
  width: 390px;
  height: 588px;
  margin-top: 224px;
  background-color: #fff;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  position: relative;
}

.pop-up-content::after{
  position: absolute;
  content: "";
  display: block;
  top: -26px;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-x.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.pop-up-title {
  margin: 50px auto 0;
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.pop-up-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  width: 66px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.form-pop-up {
  display: flex;
  padding: 28px 30px 53px;
  flex-wrap: wrap;
  flex-direction: column;
}

.pop-up-fields {
  width: 316px;
  display: block;
  font-weight: normal;
  font-size: 13px;
  padding-bottom: 10px;
}

.drop-list {
  width: 330px;
  height: 50px;

  font-size: 13px;
  color: #a2a4a3;
  padding-left: 20px;
  margin-bottom: 28px;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f7f6;
  border: none;

  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-position-x: 307px;
  background-position-y: 15px;
  background-repeat: no-repeat;
}

/*.option-field {
  font-size: 13px;
}*/

.pop-up-radio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.radio-text{
  font-weight: normal;
  font-size: 13px;
  padding-right: 15px;
}

.radio-text::before {
  display: inline-block;
  width: 34px;
  height: 20px;
  margin: -4px -4px -7px -8px;
  content: "";
  background-image: url(../svg/form-empty-circle.svg);
  background-size: 19px;
  background-position: center; center;
  background-repeat: no-repeat;
/*  z-index: 5;*/
}

.radiobutton:checked+.radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radiobutton {
  padding-left: 10px;
/*  position: absolute;*/
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.textearea-pop-up {
  resize:none;
  width: 310px;
  margin-top: 10px;
  min-height: 110px;
  background-color: #f4f7f6;
  border: none;

  font-size: 13px;
  color: #a2a4a3;
  padding-top: 20px;
  padding-left: 20px;
}

.pop-up-button{
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  margin-top: 13px;
}


header {
  position: relative;
  /*   min-height: 400px; */
  min-height: 449px;
  width: 100vw;
  margin-bottom: 41px;

  background-image: url("../images/banner-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-color: #000000;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index:-1;
}

.header-content {
  max-width:1200px;
  margin: 0 auto;
  padding: 28px 15px 0 35px;
}

.top-header {
  max-width:1200px;
  margin: 0 auto;
/*  position: relative;*/

  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.logo-img {
  padding-left: 8px;
  width: 179px;
}

.menu {
  margin-top: 14px;
  padding-right: 25px;
}

.menu-img {
  display: none;
}

.menu-item {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  vertical-align: top;
  padding-left: 32px;

  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
}

.menu-item:hover,
.main-tag:hover {
  text-decoration: underline;
}

.site-title {
  width: 690px;
  margin: 0 auto;
  text-align: center;
  padding-top: 99px;
  padding-right: 20px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  color: #ffffff;
  z-index: 2;
}

.page {
  max-width: 1660px;
  margin: 0 auto;
}

.trends {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  column-gap: 5px;
}

.section-title {
  text-align: center;
  grid-column: 1 / -1;

  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  padding-bottom: 12px;
  line-height: 24.5px;
}

.section-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 8px;

  width: 66px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.trend-garden {
  background-image: url("../images/trend1.jpg");
  position: relative;
  z-index: 0;
}

.trend-cheeses {
  background-image: url("../images/trend2.jpg");
  position: relative;
  z-index: 0;
}

.trend-hike {
  background-image: url("../images/trend3.jpg");
  position: relative;
  z-index: 0;
}

.trend-vitamins {
  background-image: url("../images/trend4.jpg");
  position: relative;
  z-index: 0;
}

.article-trend {
  max-width: 410px;
  max-height: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.trend-garden::before, .trend-cheeses::before, .trend-hike::before, .trend-vitamins::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  z-index: -1;
}

.trend-content {
  min-width: 290px;
  margin: 12px 17px;
  padding: 21px 36px;

  border: 3px solid #b59f5b;
}

.trends-post-title{
  max-width: 370px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.page-content {
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  padding-left: 30px;
}

.main {
  flex-grow:1;
}

.content-img {
  width: 382px;
  max-height: 295px;
  margin-bottom: 59px;
}

.article-content {
  display: flex;
  flex-direction: row;
}

.trends-tags {
  margin-bottom: -10px;
  margin-top: 13px;
}

.article-post-info {
  vertical-align: top;
  margin-top: -5px;
  margin-left: 28px;
  width: 367px;
/*  min-height: 294px;*/
  margin-bottom: 58px;
}

.main-tag {
  display: inline;
  text-align: left;
  padding-left: 1px;

  text-transform: uppercase;
  list-style-type: none;

  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
}

.main-tag:nth-child(n + 2) {
  padding-left: 15px;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin: 9px 0 26px;
  line-height: 24.5px;
}

.main-time {
  display: inline-block;
  width: 80px;
  font-weight: normal;
  font-size: 12px;
  color: #888888;
  padding-right: 8px;
}

.post-author {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

.article-text {
  margin-top: 45px;
  /* line-height: 10px; */
  font-weight: normal;
  line-height: 22.5px;
  font-size: 15px;
  color: #0f0d0e;
}

.next-p {
  margin-top: 10px;
}

aside {
  width: 286px;
}

.aside-title {
  position: relative;
  text-align: center;
  padding-bottom: 19px;
  margin-left: -47px;
  margin-top: -5px;
  letter-spacing: -0.7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #0f0d0e;
}

.aside-title::after {
/*  position: absolute;*/
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 12px;

  width: 66px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.new-post {
  display: flex;
  padding-bottom: 23px;
}

.aside-img {
  margin-left: -15px;
  width: 67px;
}

.aside-post-info {
  width: 182px;
  padding-left: 19px;
  margin-top: -5px;
}

.aside-time {
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  opacity: 0.54;
}

.news-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  margin-top: 6px;
}

.news-title:hover,
.theme:hover,
.post-title:hover,
.trends-post-title:hover {
  color: #b59f5b;
}

.search-form {
  margin: 36px 32px 62px -16px;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  padding-left: 19px;

  font-weight: normal;
  font-size: 13px;
  color: #000000;
  opacity: 0.54;
}

.search-field {
  width: 223px;
  height: 47px;
  background-color: #f4f7f6;
  border: none;
}

.search-field:focus,
.email-field:focus,
.drop-list:focus,
.textearea-pop-up:focus,
.text-field:focus,
.drop-list:focus,
.textearea-pop-up:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search-button {
  width: 47px;
  height: 47px;
  background-color: #b59f5b;
  border: none;

  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.search-button:hover,
.email-button:hover,
.pop-up-button:hover,
.button:hover,
.pop-up-button:hover {
  background-color: #323232;
}

.text-field {
  margin: -6px 26px 7px -17px;
  width: 253px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
}

.button {
  margin-top: 7px;
  margin-left: -15px;
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  margin-bottom: 62px;
}

.button-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -9px 9px 59px -18px;
}

.tag-item {
  list-style-type: none;
  line-height: 36px;
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #0f0d0e;
  outline: 3px solid #f4f3f1;
  outline-offset: -7px;
}

.tag-item:hover {
  outline-color: #b59f5b;
}

.themes {
  margin-top: -30px;
  margin-left: 2px;
}

.theme {
  margin-left: -17px;
  position: relative;
  list-style-type: none;

  font-weight: bold;
  font-size: 14px;
  color: #000000;
  line-height: 43px;
}

.theme::after {
  content: "";
  position: absolute;
  display: block;
  width: 272px;
  height: 1px;
  background-color: #eeeeee;
}

.post-amount {
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 110px;
  margin: -13px 50px 100px 25px;
}

.product-img {
  width: 300px;
  height: 205px;
}

.product {
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
}

.product-info {
  width: 302px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -28px -24px;
  padding: 27px 20px;
  border: 3px solid #b59f5b;
  align-content: flex-start;
}

.product-title {
  margin: 17px 0;
}

.product-description {
  font-weight: normal;
  font-size: 15px;
  margin: -13px 0 24px;
  line-height: 21.5px;
}

.product-link {
  color: #b59f5b;
}

.shop-area{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.prices {
  margin: auto 0;
  font-weight: bold;
}

.price-old {
  margin: -5px 0 -17px -2px;
  font-size: 14px;
  text-decoration: line-through;
}

.price{
  margin: 16px 0 0px 1px;
  font-size: 20px;
}

.product-button {
  margin: -3px 2px 0;
  width: 140px;
  height: 50px;
}

footer {
  mprices-width: 1660px;
  margin: 2px auto;
}

.socials {
  padding-left: 11px;
  max-width: 1170px;
  vertical-align: middle;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 83px;
  margin: -15px auto 73px;
  background-color: #f4f7f6;
  box-sizing: border-box;
}

.social-links:last-child {
  padding-right: 0px;
}

.dribbble-link {
  width: 20px;
  padding-right: 48px;
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
}

.pinterest-link {
  padding-right: 46px;
  width: 20px;
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
}

.tumblr-link {
  width: 20px;
  padding-right: 30px;
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
}

.copyright-text {
  display: block;
  margin: 0px auto;
  max-width: 1660px;
  padding-left: 11px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
}
 
@media (min-width: 641px) and (max-width:1200px) {

  .pop-up-content {
    width: 390px;
    height: 596px;
    margin: 177px 61px 10px 10px;
  }

  .pop-up-content::after {
    top: -36px;
    width: 27px;
    height: 27px;
  }

  .pop-up-title {
    font-size: 18px;
  } 

  .pop-up-title::after {
    padding-top: 12px;
  }

  .pop-up-fields {
    padding-bottom: 7px;
  }

  .drop-list {
    background-position-x: 307px;
    background-position-y: 18px;
    margin-bottom: 32px;
  }

  .pop-up-radio {
    margin-bottom: 36px;
  }

  .radio-text {
    padding-right: 34px;
  }

  .radio-text::before {
    width: 48px;
    height: 31px;
    margin: -2px -5px -11px -13px;
    background-size: 25px;
  }

  .pop-up-button {
    margin-top: 16px;
  }

  header {
    background-image: url(../images/banner-bg-tablet.jpg);
    min-height: 392px;
    margin-bottom: 59px;
  }

  .logo-img {
    margin: 7px 0 -34px -19px;
    max-height: 36px;
  }

  .menu {
    margin-top: 12px;
    padding-right: 25px;
  }

  .menu-item {
    display: none;
  }

  .menu-img {
    margin: 17px -10px -6px 0;
    display: block;
    height: 33px;
  }

  .site-title {
    width: 611px;
    line-height: 52px;
    font-size: 40px;
  }

  .trends {
  grid-template-columns:repeat(2, 1fr);
  gap: 5px;
  }

  .section-title {
    margin: -15px;
    padding-bottom: 29px;
    font-size: 18px;
  }

  .article-trend {
    height: 245px;
    max-width: 410px;
    max-height: 308px;
  }

  .trend-content {
    margin: 16px 20px;
    padding: 31px 32px;
    min-width: 271px;
  }

  .trends-post-title {
    margin-bottom: -3px;
    font-size: 17px;
  }

  .page-content {
    padding-left: 35px;
    margin-top: 52px;
  }

  .article-content {
/*    margin-bottom: 5px;*/
    position: relative; 
    flex-direction: column;
  }

  .article-content:nth-of-type(-n+4)::after{
    position: absolute;
    content: "";
    display: block;
    margin-top: -47px;
    width: 392px;
    border-bottom: 3px solid #eee;
  }

  .content-img {
    width: 390px;
    max-height: 300px;
    margin-bottom: 53px;
  }

  .article-post-info {
/*    position: relative;*/
    margin-top: -42px;
    margin-left: 0px;
    width: 367px;
    margin-bottom: -22px;
  }

  .post-title {
    margin: 11px 0 23px;
    font-size: 17px;
    min-width: 401px;
  }

  .article-text {
    margin-top: 28px;
    width: 391px;
    margin-bottom: 85px;
  }

  .next-p {
    margin-top: 8px;
  }

  aside {
    margin: 12px 5px;
  }

  .aside-title {
    position: relative;
    padding-bottom: 22px;
    margin-left: -43px;
    margin-top: -12px;
    letter-spacing: 0.3px;
    font-size: 14px;
  }

  .aside-title::after {
    margin-left: 132px;
    padding-top: 8px;
  }
  
  .new-post {
    padding-bottom: 22px;
  }

  .news-title {
    margin-top: 7px;
  }

  .search-form {
    margin: 37px 32px 75px -16px;
  }

  .text-field {
    margin: -13px 26px 7px -17px;
  }

  .button {
    margin-top: 12px;
    margin-bottom: 73px;
  }

  .tags {
    margin: -16px 9px 72px -18px;
  }

  .themes {
    margin-top: -23px;
  }

  .products {
    margin: 14px 0 84px 13px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 52px;
  }

  .product:nth-of-type(n+3) {
    margin-top: 31px;
  }

  .product-img {
    margin: 14px 0 8px 6px;
  }

  .product-info {
    width: 309px;
    margin: -19px -18px;
    padding: 20px 15px;
  }

  .product-title {
    margin: 30px 7px 16px;
  }

  .product-description {
    margin: -13px 9px 24px;
  } 

  .prices {
    margin: 6px 7px;
  }

  .price-old {
    margin: -6px 0 -12px -2px;
  }

  .price {
    margin: 6px 0 0px 1px;
  }

  .product-button {
    margin: -3px 6px 0;
  } 

  .socials {
    margin: -15px 34px 46px;
  }
}

@media (max-width:640px) {
  .pop-up-content {
    width: 330px;
    height: 547px;
    margin-top: -187px;
  }

  .pop-up-content::after {
    top: -33px;
    right: -3px;
    width: 36px;
    height: 27px;
  }

  .pop-up-title {
    margin: 29px auto 0;
    font-size: 16px;
  }

  .form-pop-up {
    padding: 28px 23px;
  }

  .pop-up-fields {
    width: 291px;
    padding-bottom: 8px;
  }

  .drop-list {
    width: 281px;
    background-position-x: 257px;
    background-position-y: 17px;
    margin-bottom: 30px;
  }

  .radio-text {
    padding-right: 32px;
  }

  .radio-text::before {
    width: 43px;
    height: 37px;
    margin: -4px -1px -13px -10px;
    background-size: 26px;
  }

  .textearea-pop-up {
    width: 258px;
  }

  .pop-up-button {
    width: 281px;
    margin-top: 17px;
  }

  header {
    margin-bottom: 25px;
    width: 100%;
    background-image: url(../images/banner-mobile.jpg);
  }

  .logo-img {
    margin: 195px -5px 31px 3px;
    width: 268px;
  }

  .menu-item {
    display: none;
  }

  .menu-img {
    margin: -20px -29px -6px 0;
    display: block;
    height: 33px;
  }

  .site-title {
    padding-top: 0;
    font-size: 26px;
    width: auto;
    line-height: 36px;
    padding-bottom: 211px;
  }

  .page {
    width: 100%;
  }

  .trends {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2px;
  }

  .section-title {
    font-size: 16px;
    padding-bottom: 7px;
  }

  .article-trend {
    width: 100vw;
    height: 231px;
  }

  .article-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-content {
    width: 330px;
    padding: 11px 14px 12px 17px;
  }

  .trends-tags {
    margin-bottom: 0;
  }

  .trends-post-title {
    width: 276px;
    margin-bottom: 18px;
    font-size: 16px;
  }

  .page-content {
    margin: 45px 15px;
    padding-left: 0;
  }

  .content-img {
    width: 330px;
    margin-bottom: 15px;
  }

  .article-post-info {
    width: auto;
    margin-left: 0; 
    margin-bottom: 54px;
  }

  .post-title {
    line-height: 21px;
    font-size: 16px;
    margin: 9px 0 13px;
  }

  .article-text {
    margin-top: 13px;
    line-height: 22px;
    font-size: 14px;
    width: 324px;
  }

  .next-p {
    margin-top: 0;
  }

  aside {
    width: 330px;
  }

  .aside-title {
    padding-bottom: 16px;
    margin-left: 0;
    margin-top: 3px;
    letter-spacing: 0;
    font-size: 16px;
  }

  .new-post {
    padding-bottom: 25px;
  }

  .aside-img {
    margin-left: 0;
  }

  .aside-post-info {
    width: 325px;
    padding-left: 21px;
  }

  .search-form {
    margin: 36px 0px 41px -1px;
  }

  .search-field {
    width: 283px;
  }

  .text-field {
    margin: -8px 0 0px -2px;
    width: 308px;
  }

  .button {
    margin: 17px 0 37px -1px;
    width: 330px;
  }

  .tags {
    margin: -9px 0 38px -7px;
  }

  .themes {
    margin-top: -25px;
    margin-left: 16px;
  }

  .products {
    display: block;
    margin: 28px 55px 72px 21px;
  }

  .product-img {
    margin-top: 10px;
  }

  .product-info {
    width: 284px;
    margin: 49px -20px 14px;
    padding: 24px 19px;
  }

  .product-title {
    font-size: 17px;
    margin-top: 21px;
    margin-bottom: 19px;
  }

  .product-button {
    margin: -3px 2px 0;
    width: 140px;
    height: 50px;
  }

  .socials {
    margin: -91px auto 73px;
  }

  .copyright-text {
    margin: -24px auto;
  }
}